/*span{border: 1px solid blue}
div{border: 1px solid green}*/
body{
	margin:0;
	padding:0px;
}

.mainRight{
	position:absolute;
	top:0;
	right:0;
	width:200px;
	height:100%;
	padding: 10px;
    overflow: auto;
}
@media screen{
	body>div.mainRight{
		position:fixed;
	}
}
* html body{
	overflow:hidden;
 } 
.mainLeft{
	position: absolute;
	height:100%;
	overflow:auto;
	left: 0px;
	right:220px;
	padding:10px;
}
#display1{
    border-left: 2px solid green;
    background-color:#DFD;
}
#d1header,#d1body{
    margin: 12px
}
#d1header{
    opacity: .75;
}
#display2{
    border-left: 2px solid #0AF;
    background-color:#ADF;
    padding: 10px;
    display:none;
}
#message div{
    margin: 12px;
    max-height:100%;
}
.instructions{
    color:#777;
    font-style:italic;
}
#dispInstructions.instructions{
    color: black;
    margin: 0px -5px 5px -5px;
    padding: 5px;
    border: solid 1px black;
}
.hideHelp{
	color:black;
	font-style:normal;
}

#header input[type='text']{
	width: 60px
}

p{
    margin-top: .5em;
    margin-bottom: .75em;
}
.help{
	display: none;
	border: 1px solid grey;
	background-color: #EEE
}
.asgnInfo{
	line-height: normal;
	background-color: #f3f3f3;
	border: solid 1px #a1a1a1;
	padding: 10px;
}
.asgnInfo .altered{
	background-color: #FDD;
}

/*For displaying Proofs*/
div.column{
	display: inline-block;
	margin-left: 5px;
    vertical-align: top;
}
div.cell{
	padding-bottom: 6px;
	height:1.2em;
	font-size: 1.2em;
    font-family:monospace;
}
div.equi,div.introElim{
	border: 1px dotted black;
	padding: 5px;
}


#opSelect{
    display: none;
}
    .ui-combobox {
        position: relative;
        display: inline-block;
    }
    .ui-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* adjust styles for IE 6/7 */
        *height: 1.7em;
        *top: 0.1em;
    }
    .ui-combobox-input {
        margin: 0;
        padding: 0.3em;
        width: 100%;
    }



#folTable{
    margin-bottom:12px;
}
.x{
    letter-spacing: 5px;
    line-height:100%;
    padding-left:2px;
}

div.sp{
	border-top: 1px dotted purple;
	margin-top: -1px;
	border-left: 2px solid purple;
	padding-left: 4px;
}
div.sp .cell:first-child{
	padding-bottom:0px;
	border-bottom:1px dashed grey;
	margin-bottom:5px;
}
div.sp.closed{
	border-bottom: 1px dotted purple;
	margin-bottom: 5px;	
}
div.sp.closed .cell:last-child{
	padding-bottom: 0px;
}
div.sp.closed .cell:only-child{
	padding-bottom: 0px;
    border-bottom:0px;
    margin-bottom: 0px;
}
div.sp.dead{
	border-bottom: 1px dotted purple;
	margin-bottom: 5px;	
}
div.sp.dead .cell:last-child{
	padding-bottom: 0px;
}
div.sp.dead .cell:only-child{
	padding-bottom: 0px;
    border-bottom:0px;
    margin-bottom: 0px;
}
div.cell.conclusion:before{
    content: "/ therefore, "
}
div.cell.conclusion{
	font-size:1em;
	width: 300px;
}
#attribution{
    margin-left: 10px;
}


/*End proof display stuff*/



.formula{
    letter-spacing:2px;
    font-family:monospace;
    font-size:1.2em;
	letter-spacing: 5px;
}

.operationsL1,.operationsL24,.operations.easy,#temp,#displayCancel,.htmlTextarea{
    display:none;
}
.operations .operation{
    border: 1px solid #555555;
    background-color: #DDDDDD;
    padding: 3px 5px;
    margin: 5px 0px!important;
    font-size: .8em;
}
.operations .operation:hover{
    background-color: #EEEEEE;
}
.operations{
    vertical-align:top;
}

.working{
    color: #AAAAAA
}

/*Subsentence highlighting*/
.toEdit{
    background-color: purple;
    color: white;
}
.E1Resp{
    background-color:green!important;
    color:white!important;
}
.E2Resp,.Sp1Resp{
    background-color:#0AF!important;
    color:white!important;
}

.error{
    background-color:red!important;
    color:#fff6f6!important;    
}
.cited{
    background-color:yellow!important;
    color:black!important;
}
/*Other*/
#checkProblems{
	padding: 10px;
}