/*span{border: 1px solid blue}
div{border: 1px solid green}*/
body{
	margin:0;
	padding:10px;
	font-size: larger;
}
input[type=button]{
	font-family: monospace;
}
.mainRight{
	position:absolute;
	top:0;
	right:0;
	width:200px;
	height:100%;
}
@media screen{
	body>div.mainRight{
		position:fixed;
	}
}
* html body{
	overflow:hidden;
 } 
.mainLeft{
	position: absolute;
	height:100%;
	overflow:auto;
	left: 0px;
	right:220px;
}
#display{
    border-left: 2px solid green;
    background-color:#DFD;
    padding: 10px;
}
#display div{
    margin: 12px
}
#messageBox{
    border-left: 2px solid #0AF;
    background-color:#ADF;
    padding: 10px;
    display:none;
}
#message div{
    margin: 12px;
    max-height:100%;
}
.instructions{
    color:#777;
    font-style:italic;
}
.hideHelp{
	color:black;
	font-style:normal;
}
#header{
	position: fixed;
	bottom: 5px;
	right: 10px;
	z-index: 1000;
}
#header input[type='text']{
	width: 60px
}

p{
    margin-top: .5em;
    margin-bottom: .75em;
}
.help{
	display: none;
}
.asgnInfo{
	font-size: medium;
	line-height: normal;
	background-color: #f3f3f3;
	border: solid 1px #a1a1a1;
	padding: 10px;
}
.asgnInfo .altered{
	background-color: #FDD;
}

/*For displaying Proofs*/
div.column{
	display: inline-block;
	margin-left: 5px;
    vertical-align: top;
}
div.cell{
	padding-bottom: 6px;
	height:1em;
    font-family:monospace;
    font-size:24px;
}
div.equi,div.introElim{
	border: 1px dotted black;
	padding: 5px;
}
#folTable{
    margin-bottom:12px;
}
.x{
    letter-spacing: 5px;
    line-height:100%;
    padding-left:2px;
}

div.sp{
	border-top: 1px dotted purple;
	margin-top: -1px;
	border-left: 2px solid purple;
	padding-left: 4px;
}
div.sp .cell:first-child{
	padding-bottom:0px;
	border-bottom:1px dashed grey;
	margin-bottom:5px;
}
div.sp.closed{
	border-bottom: 1px dotted purple;
	margin-bottom: 5px;	
}
div.sp.closed .cell:last-child{
	padding-bottom: 0px;
}
div.sp.closed .cell:only-child{
	padding-bottom: 0px;
    border-bottom:0px;
    margin-bottom: 0px;
}
div.sp.dead{
	border-bottom: 1px dotted purple;
	margin-bottom: 5px;	
}
div.sp.dead .cell:last-child{
	padding-bottom: 0px;
}
div.sp.dead .cell:only-child{
	padding-bottom: 0px;
    border-bottom:0px;
    margin-bottom: 0px;
}
#conclusion:before{
    content: "/ therefore, "
}
#attribution{
    margin-left: 10px;
}



/*End proof display stuff*/



.formula{
    letter-spacing:2px;
    font-family:monospace;
    font-size:24px;
}

#opSelect,#opSelectLabel,#temp,#displayCancel,.htmlTextarea{
    display:none;
}
.operations .operation{
    border: 1px solid #555555;
    background-color: #DDDDDD;
    padding: 3px 5px;
    margin: 5px 0px!important;
    font-size: 22px;
}
.operations .operation:hover{
    background-color: #EEEEEE;
}
.operations{
    vertical-align:top;
}




#commutation,#association,#removeDblNeg{
    display:none;
}

.working{
    color: #AAAAAA
}



/*Subsentence highlighting*/
.toEdit{
    background-color: purple;
    color: white;
}
.E1Resp{
    background-color:green!important;
    color:white!important;
}
.E2Resp{
    background-color:#0AF!important;
    color:white!important;
}

.error{
    background-color:red!important;
    color:#fff6f6!important;    
}
.cited{
    important;background-color:yellow!important;
    color:black!important;
    
}
